/* GENERAL */
@font-face {
    font-family: Eraser Font;
    src: url(assets/EraserDust-p70d.ttf);
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Eraser Font', sans-serif;
}
/********************/




/* HEADER & BOARD */
header {
    font-size: 4rem;
    margin-top: 2rem;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/chalkboard.png);
    background-size: 100% 100%;
    background-color: beige;
    color: #FBF7F5;

}

.gameBoard {
    width: 70vw;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-content: center;
    font-size: 3rem;
    user-select: none;
}

.cell {
    width: 100px;
    height: 100px;
    border: 3px solid #FBF7F5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}
/********************/




/* OVERLAY */
#overlay {
    font-size: 4rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

#overlay.show {
    display: flex;
}

#restartBtn {
    border-radius: 10px;
    padding: 1rem;
    font-size: 3rem;
    cursor: pointer;
    background-color: beig;
}
/********************/